options {
	directory "/var/cache/bind";
	listen-on { none; };
	listen-on-v6 { {{dns64_address}}; };
	recursion yes;
	allow-query { fd00::/8; };
	dns64 {{legacy_prefix}} {
    recursive-only no;
    exclude { ::/0; };
    clients {
			::1;
			{{dns64_address}};
		 };
  };
};
