server:
	interface: {{router_address}}
	access-control: fd00::/8 allow
	private-domain: lan
forward-zone:
	name: "."
	forward-addr: {{dns64_address}}

{% for zone, address in localzones.iteritems() %}
stub-zone:
	name: "{{zone}}"
	stub-addr: {{address}}
{% endfor %}
